div{
    margin: 15px;
}
.form-group{
    font-style:italic;
    font-weight: bold;
}
h2{
    border: 2px;
    color:rgb(37, 198, 238);
    text-align: center;
    margin: 50px;
    font-family: French Script MT;
    font-size: 3em;
}