<button type="submit" [hidden]="!noConexion" (click)="toggleConnexion()">Ajouter une recette?</button>
<div [hidden]="noConexion">
    <div class="titre">
        <tr>
          <h2> Ma nouvelle recette</h2>
        </tr>
      </div>
  <form class="form-horizontal" [formGroup]='recetteForm' (submit)=newRecette()>
    

  

    <div class="form-group">
      Nom <input class="form-control" type="text" placeholder="Nom de la recette " formControlName="title">
    </div>

    <div class="form-group">
      Nombre de personne <input class="form-control" type="number" formControlName="nb_personnes">
    </div>

    <!--
  <div class="ingredients">
  </div>
  -->

   
      <div class="form-group">
        Temps de préparation (en min)
        <input class="form-control" type="number" formControlName="temps_preparation">
      </div>

      <!--
    <div class="repos">
        Temps de repos
        <input type="time">
    </div>
    -->

      <div class="form-group">
        Temps de cuisson (en min)
        <input class="form-control" type="number" formControlName="temps_cuisson">
      </div>
     
    

    <div class="form-group des">
      Description <textarea class="form-control" autocapitalize="sentence" placeholder="Saisissez votre recette" formControlName="instructions"></textarea>
    </div>

    <!--
  <div class="image">
    <input type="file">
  </div>
  -->

    <div>
      <button classe="btn btn-info" type="submit" [hidden]="noConexion" (click)="toggleConnexion()">Ajouter</button>
    </div>


  </form>
</div>