<h2 class="titre">
  Mon semainier !
</h2>
<div class= "semaine" >Semaine du <input class="date" type="date">  au  <input class="date" type="date"></div>
<div>
<a href="javascript:window.print()"><button class="imp" ><i class="fa fa-print" style="font-size:36px"></i></button></a>
<button class="btn btn-info modifier"(click)="afficheRecette()"><i class="fa fa-pencil"></i></button>
</div>
<table class="table table-bordered">
  <thead >
    <tr>
      <td></td>
      <td></td>
      <td>Lundi</td>
      <td>Mardi</td>
      <td>Mercredi</td>
      <td>Jeudi</td>
      <td>Vendredi</td>
      <td>Samedi</td>
      <td>Dimanche</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="moment" rowspan="3">Midi</td>
      <td class="moment2">Entrée</td>
      <td>
        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select>
      </td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td class="moment2">plat</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td class="moment2">Dessert</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>

    <tr>
      <td class="moment" rowspan="3">Soir</td>
      <td class="moment2">Entrée</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td class="moment2">plat</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td class="moment2">Dessert</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
  </tbody>
</table>

