<h2>
  "SEMAINIER DE SECOURS ON-LINE!"
</h2>
<div>Semaine du <input type="date">  au  <input type="date"></div>
<a href="javascript:window.print()"><button>Print the page</button></a>
<table>
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>Lundi</td>
      <td>Mardi</td>
      <td>Mercredi</td>
      <td>Jeudi</td>
      <td>Vendredi</td>
      <td>Samedi</td>
      <td>Dimanche</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="3">Midi</td>
      <td>Entrée</td>
      <td>
        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select>
      </td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td>plat</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td>Dessert</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>

    <tr>
      <td rowspan="3">Soir</td>
      <td>Entrée</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td>plat</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
    <tr>
      <td>Dessert</td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
      <td>        <select name="nom">
          <option *ngFor="let Recette of recettes">{{Recette.titre}}</option>
        </select></td>
    </tr>
  </tbody>
</table>

<button (click)="afficheRecette()">Editer mon tableau</button>