<button classe="btn btn-info" type="submit" [hidden]="!noConexion"  (click)="toggleConnexion()" (click)="afficheRecette()">Consulter recettes</button>
<button classe="btn btn-info" type="submit" [hidden]="noConexion"  (click)="toggleConnexion()">Fermer recettes</button>

<div [hidden]="noConexion">

<!--<button (click)="afficheRecette()">Liste des recettes</button>-->

<table overflow:auto class="table table-bordered table-striped">
  <thead >
    <tr class="info" >
      <td>Nom de la recette</td>
      <td>Nombre de personnes</td>
      <td>Temps de preparation</td>
      <td>Temps de cuisson</td>
      <td>Instructions</td>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Recette of recettes">
    <td>{{ Recette.titre }}</td>
    <td>{{ Recette.nb_personnes }}</td>
    <td>{{ Recette.temps_preparation }}</td>
    <td>{{ Recette.temps_cuisson }}</td>
    <td>{{ Recette.instructions }}   
    </td>
  <tr>
    </tbody>
</table>
</div>
